.footer_body {
    color: rgba(255, 255, 255, 0.164);
    padding-top: 2rem;
    margin-left: 20px;
    padding-bottom: 2rem;
}

.footer_links {
    margin-bottom: 5px;
}

.personal {
    margin-top: 10px;
}